.card{
    border: solid 1px red;
}

.colorBack{
    background-color: red;;
}
.colorText{
    color: white;
}

.positivo{
    color: white;
    background-color: black;
}
.negativo{
    color: aqua;
    background-color: blueviolet;
}